@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
  --highlight: #000000; /* Cor para destacar elementos */
  --border-radius: 10px;
  --transition-speed: 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background-dark);
    --color-foreground: var(--foreground-dark);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color var(--transition-speed), color var(--transition-speed);
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--highlight);
}
